Node Red flows/example_flow.json
[{"id":"bb9a3c32.e5fb4","type":"mqtt in","z":"6f68fb89.34bc24","name":"","topic":"BW-1.27_MQTT/message","qos":"1","datatype":"json","broker":"","x":1210,"y":380,"wires":[["730091d1.f5ef2"]]},{"id":"a11ca945.8a39c8","type":"mqtt out","z":"6f68fb89.34bc24","name":"","topic":"BW-1.27_MQTT/command","qos":"1","retain":"","broker":"","x":1190,"y":520,"wires":[]},{"id":"eea9ebe8.703df8","type":"inject","z":"6f68fb89.34bc24","name":"0xA heater","topic":"","payload":"\"0xA\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":500,"wires":[["a11ca945.8a39c8"]]},{"id":"bc1a53e7.a253","type":"inject","z":"6f68fb89.34bc24","name":"0x7 down","topic":"","payload":"\"0x7\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":420,"wires":[["a11ca945.8a39c8"]]},{"id":"4603402a.1b9f6","type":"inject","z":"6f68fb89.34bc24","name":"0x8 filter","topic":"","payload":"\"0x8\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":460,"wires":[["a11ca945.8a39c8"]]},{"id":"dcb95f0.982ada","type":"inject","z":"6f68fb89.34bc24","name":"0x6 up","topic":"","payload":"\"0x6\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":380,"wires":[["a11ca945.8a39c8"]]},{"id":"a00a084.86a09f8","type":"inject","z":"6f68fb89.34bc24","name":"0x5 power","topic":"","payload":"\"0x5\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":340,"wires":[["a11ca945.8a39c8"]]},{"id":"e0dbabce.405ed8","type":"inject","z":"6f68fb89.34bc24","name":"0xC air","topic":"","payload":"\"0xC\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":580,"wires":[["a11ca945.8a39c8"]]},{"id":"ae824089.03fae","type":"inject","z":"6f68fb89.34bc24","name":"0xB units","topic":"","payload":"\"0xB\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":540,"wires":[["a11ca945.8a39c8"]]},{"id":"b64477f0.8532e8","type":"inject","z":"6f68fb89.34bc24","name":"0xD timer","topic":"","payload":"\"0xD\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":620,"wires":[["a11ca945.8a39c8"]]},{"id":"acc4bd68.5847f","type":"inject","z":"6f68fb89.34bc24","name":"0xE lock","topic":"","payload":"\"0xE\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":660,"wires":[["a11ca945.8a39c8"]]},{"id":"afd4516a.f958e","type":"inject","z":"6f68fb89.34bc24","name":"0x3 zero timers","topic":"","payload":"\"0x3\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":300,"wires":[["a11ca945.8a39c8"]]},{"id":"83339f00.c3b1a","type":"inject","z":"6f68fb89.34bc24","name":"0x2 auto off","topic":"","payload":"\"0x2\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":260,"wires":[["a11ca945.8a39c8"]]},{"id":"9c2dc681.4e0bc8","type":"inject","z":"6f68fb89.34bc24","name":"0x1 auto on","topic":"","payload":"\"0x1\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":220,"wires":[["a11ca945.8a39c8"]]},{"id":"713863e2.21b50c","type":"inject","z":"6f68fb89.34bc24","name":"0x0 REBOOT","topic":"","payload":"\"0x0\"","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":180,"wires":[["a11ca945.8a39c8"]]},{"id":"730091d1.f5ef2","type":"debug","z":"6f68fb89.34bc24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1450,"y":380,"wires":[]}]